<!-- Main top section of the content. -->
<div class="row align-items-center wow fadeInUp" data-wow-duration="2s">
    <div class="col-md-12">
        <div class="bg-transparent mt-4 mt-sm-2 mt-md-2 mt-lg-n3">
            <h2 class="text-highlight">ACTIVITIES</h2>
        </div>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6">
        <div class="list-content text-left">
            <h2 class="sub-heading">Research Grants</h2>
            <p>Next is to learn more about the efficacy of teaching parenting and child development in high schools. To do this, each year starting in 2021, we're offering four grants of up to $55,000 each for organizations led by researchers and research teams interested in how we can better prepare the next generation of parents through our public schools. The goal is improving participant's children's kindergarten readiness and success in school and life.</p>
            <a href="{{ url_for('home.whyapply') }}" class="btn btn-site">Learn about grants</a>
        </div>
    </div>
    <div class="col-md-6 pl-md-4 text-center">
        <img src="{{ url_for('static', filename='images/grant_award.jpg') }}" class="img-fluid" alt=""/>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6">
        <div class="list-content text-left">
            <h2 class="sub-heading">Partnerships</h2>
            <p>We welcome partnerships with schools and school districts, research centers, charitable organizations, universities, and others striving to understand the possibilities of teaching parenting at the secondary level and SEL in the early years. If you are associated with a U.S. high school and would like to learn about our pilot test program, we're especially interested in talking with you.</p>
            <a href="{{ url_for('home.joinin') }}" class="btn btn-site">See School Administrators & Teachers section</a>
        </div>
    </div>
    <div class="col-md-6 pl-md-4 text-center">
        <img src="{{ url_for('static', filename='images/school_administrators_teachers_celebrating.jpg') }}" class="img-fluid" alt=""/>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6 pl-md-4 text-center">
        <img src="{{ url_for('static', filename='images/researchers_sharing_ideas.jpg') }}" class="img-fluid" alt=""/>
    </div>
    <div class="col-md-6">
        <div class="list-content text-left">
            <h2 class="sub-heading">Disseminate research and share ideas</h2>
            <p>Together we look forward to a coalition of dedicated champions actively learning and sharing ideas on how schools may help prepare folks for their critically important future roles as parents and other key people in the lives of young children. As we consider curricula for these folks we’re also interested in how including SEL may provide benefits for their children. By gathering and disseminating research, exchanging ideas, and building our knowledge, we look forward to joining together with others interested in improving our families, our friendships, our working relationships, our communities our country and our world.</p>
            <a href="{{ url_for('home.joinin') }}" class="btn btn-site">Learn More</a>
        </div>
    </div>
</div>
