<!-- Main top section of the content. -->
<div class="row align-items-center wow fadeInUp" data-wow-duration="2s">
    <div class="col-md-12 text-center">
        <div class="bg-transparent mt-3 mt-sm-1 mt-lg-n4">
            <h2 class="text-highlight">OPPORTUNITY</h2>
        </div>
    </div>
</div>
<hr class="space">
<div class="row row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6">
        <div class="list-content text-left">
            <h2 class="sub-heading">The opportunity is to teach parenting in high schools</h2>
            <p>Teaching parenting and child development in high schools allows reaching virtually all Americans and thereby takes a proactive approach of success from early childhood and beyond.</p>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/students_learning_parenting.jpg') }}" class="img-fluid" alt=""/>
    </div>
</div>
<hr class="space">
<div class="row align-items-center wow fadeInRight" data-wow-duration="2s">
    <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/students_learning_parenting_2.jpg') }}" class="img-fluid" alt=""/>
    </div>
    <div class="col-md-6">
        <div class="list-content">
            <h2 class="sub-heading">High school is our last chance to reach everyone</h2>
            <p>No civic organizations have the same reach as our public school system, and high school is often the last site where virtually all citizens participate. Moreover, school is already the main apparatus for preparing students for civic life and is a key site of socialization, including around public health issues like drunk driving and substance abuse.</p>
        </div>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6 text-center">
        <div class="list-content text-left">
            <h2 class="sub-heading">Early investment produces abundant returns in human capital</h2>
            <p>According to Nobel Prize winning economist James Heckman, the earlier the investment, the greater the return: "Invest in prevention, not remediation. Invest in flourishing lives, not in correcting problems after they appear." Comprehensive, early childhood development is key to later success in education and life. Programs that start at birth (or even before!) strengthen families and society.</p>
            <p class="p-2 text-highlight-italic f18-bold" style="margin-left:-60px;">  But, more research is needed...</p>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/high_school_seniors_cheering.jpg') }}" class="img-fluid" alt=""/>
    </div>
</div>
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-4 text-center">
        <img src="{{ url_for('static', filename='images/baby_learning.jpg') }}" class="img-fluid" alt=""/>
    </div>
    <div class="col-md-8 mt-1">
        <div class="list-content text-left" style="overflow:visible;">
            <p class="p-1 text-highlight-italic f18-bold ml-n5">... and questions remain</p>            
            <ul class="col-md-12 mb-5" style="list-style-type:circle;">
              <li class="details-list">There has been a huge increase in our understanding of the importance of young children attending early learning centers. Why has there been no similar increase in our understanding of early learning in the home?</li>
              <li class="details-list">What are the most important social and emotional learning competencies young children could acquire and what are the optimal acquisition ages? How might we begin systematically tackling this broad topic?</li>
              <li class="details-list">The State of Utah is the only state in which we’ve found a significant program proactively and widely teaching adolescents parenting and child development. What outcomes have resulted?</li>
              <li class="details-list">Over the past 20 years science has generated literally thousands of parenting research reports but teens say they learn about parenting not from the research or research based books or courses but from their friends, their parents or TV (O'Donnell Weber and Rowe, 2018). How might this be changed?</li>
              <li class="details-list">What simple interim methods, if any, might be possible to help parents educate their young children?</li>
              <li class="details-list">Should teachers colleges offer information or courses on preparing future parents for their important work?</li>
              <div class="details-list mt-4 ml-n3">Which of these research topics do you find interesting and which not so much? What related topics might be interesting?</div>
              <a href="{{url_for('home.ourwork') }}" class="btn btn-site mt-4">Visit Our Work</a>
            </ul>
        </div>
    </div>
</div>



