<!-- Main top section of the content. -->
<div class="row align-items-center wow fadeInUp" data-wow-duration="2s">
    <div class="col-1"></div>
    <div class="col-md-10">
        <div class="bg-transparent mt-3 mt-sm-1 mt-lg-n4">
            <h2 class="text-highlight">OUR WORK</h2>
        </div>
        <hr class="space">
        <div class="list-content text-left">
            <p>We call this section “Our Work” not because it is the work of those currently engaged but because it is the work of every one of us: researchers, teachers, students, political leaders, school administrators, and every person interested in improving this place we call home.</p>
        </div>
    </div>
    <div class="col-1"></div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6 pl-md-4 text-center">
        <img src="{{ url_for('static', filename='images/grantors_grantseekers_planning.jpg') }}" class="img-fluid" alt=""/>
    </div>
    <div class="col-md-6">
        <div class="list-content text-left">
            <h2 class="sub-heading">History</h2>
            <p>It started as just one simple idea: What if we tackled the achievement gap by preparing people to be parents before having children? We are committed to helping those disadvantaged and yet we also realized this might help all children. Today, we're funding new research to learn what high school students know and believe about parenting and child development, to understand the efficacy of teaching parenting at the secondary level, and the efficacy of SEL in the early years.</p>
            <a href="{{ url_for('home.history') }}" class="btn btn-site">Learn More</a>
        </div>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6">
        <div class="list-content text-left">
            <h2 class="sub-heading">Activities</h2>
            <p>Grants are available for researchers interested in adding to knowledge of the effectiveness of teaching parenting at the secondary level defined broadly and SEL in the early years. Partnerships are sought for secondary school pilot tests of the Harvard developed curriculum and we are excited about opportunities to help spread learning and discussion about these innovative ideas.</p>
            <a href="{{ url_for('home.activities') }}" class="btn btn-site">Learn More</a>
        </div>
    </div>
    <div class="col-md-6 pl-md-4 text-center">
        <img src="{{ url_for('static', filename='images/researcher_sharing_idea.jpg') }}" class="img-fluid" alt=""style="width:90%;"/>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6">
        <div class="list-content text-left">
            <h2 class="sub-heading">Join In</h2>
            <p>Find out ways you can join in this work, whether you are a researcher, a public leader, a teacher or a school administrator. There also are opportunities for students, parents, and the general public to participate.</p>
            <a href="{{ url_for('home.joinin') }}" class="btn btn-site">Learn More</a>
        </div>
    </div>
    <div class="col-md-6 pl-md-4 text-center">
        <img src="{{ url_for('static', filename='images/everyone_working_together.jpg') }}" class="img-fluid" alt="" style="width:80%"/>
    </div>
</div>
