<!-- Main top section of the content. -->
<div class="row align-items-center wow fadeInUp" data-wow-duration="2s">
    <div class="col-md-12 text-center">
        <div class="bg-transparent mt-3 mt-sm-1 mt-lg-n4">
            <h2 class="text-highlight">Why Are Parenting Practices Important?</h2>
        </div>
    </div>
</div>
<hr class="space mtb-5">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6 text-center">
        <div class="list-content text-left">
            <h2 class="sub-heading">Parents are the most important people in young children’s lives</h2>
            <p>In the United States, more children are in the daily care of a parent than in day care centers or in the care of other adults and relatives. So, not only are parents and children spending lots of time together, but the unique bond between parents and their children make every interaction more meaningful and with the potential for more powerful impacts.</p>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/mom_dad_baby.jpg') }}" class="img-fluid" alt=""/>
    </div>
</div>
<hr class="space">
<div class="row align-items-center wow fadeInRight" data-wow-duration="2s">
    <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/starts_at_birth_chart.jpg') }}" class="img-fluid" alt=""/>
    </div>
    <div class="col-md-6">
        <div class="list-content">
            <h2 class="sub-heading">Parents play an integral role in fostering early skill development and learning
</h2>
            <p>Parents and their children not only share the most incredible bond of love, but they also have incredible potential to shape young children’s early environment and experiences. Sadly, the early achievement gap begins in the home, and therefore we must help parents to create conditions where young children can thrive.</p>
        </div>
    </div>
</div>
<hr class="space">
<div class="row row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6">
        <div class="list-content text-left">
            <h2 class="sub-heading">We can learn to be better parents</h2>
            <p>Parents who know more about parenting and child development and who have a stronger belief they can make a difference in their child’s development, are more apt to interact with their children in ways promoting learning than parents with less parenting knowledge (Rowe, 2008). This suggests that by helping parents learn more about parenting, child development, and their own power to impact their children, parents can contribute to improved outcomes for their children.</p>
            <a href="{{ url_for('home.thechallenge') }}" class="btn btn-site">The Challenge</a>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/mom_dad_daughter_reading.jpg') }}" class="img-fluid" alt=""/>
    </div>
</div>
