{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
    #container{width:100%;}
    #center{
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    .col-custom {
    border-bottom: 1px solid grey;
    width:100%
}
</style>
<h2 align="center">User Registration Continued</h2>
<hr />
<p align="center">Please fill out the information below to complete your registration.</p>
<br/>
<br />
<div id="container">
  <div id="center">
      <h1 class='col-custom'>Registration Part II</h1>
      <form method="POST" action="{{url_for('home.registration_continued')}}" width="100%" name="register_cont", id="register_cont">
         {{ form.hidden_tag() }}
          {{ wtf.form_errors(form) }}
          <div class="form-row">
                <div class="form-group col-xl-20 required" style="width: 100%">
                  {{ form.org.label }}
                  {{ form.org(class="form-control restrictedText", size="50", placeholder=form.org.label.text, title=form.org.label.text)  }}
                  <div class="invalid-feedback"></div>
                </div>
              </div>
          <div class="form-row">
                <div class="form-group col-xl-20 required" style="width: 100%">
                  {{ form.school.label }}
                  {{ form.school(class="form-control restrictedText", size="50", placeholder=form.school.label.text, title=form.school.label.text)  }}
                  <div class="invalid-feedback"></div>
                </div>
              </div>
          <div class="form-row">
                <div class="form-group col-xl-20 required" style="width: 100%">
                  {{ form.position.label }}
                  {{ form.position(class="form-control restrictedText", size="50", placeholder=form.position.label.text, title=form.position.label.text)  }}
                  <div class="invalid-feedback"></div>
                </div>
          </div>
          <div class="form-row">
            <div class="form-group col-xl-20 required" style="width: 100%">
                  {{ form.adder1.label }}
                  {{ form.adder1(class="form-control restrictedText", placeholder=form.adder1.label.text, title=form.adder1.label.text)  }}
                  <div class="invalid-feedback"></div>
            </div>
          </div>
          <div class="form-row">
              <div class="form-group col-xl-20" style="width: 100%">
                  {{ form.adder2.label }}
                  {{ form.adder2(class="form-control restrictedText", placeholder=form.adder2.label.text, title=form.adder2.label.text)  }}
                  <div class="invalid-feedback"></div>
            </div>
          </div>
          <div class="form-row">
              <div class="form-group col-xl-20 required">
                  {{ form.city.label }}
                  {{ form.city(class="form-control restrictedText", placeholder=form.city.label.text, title=form.city.label.text)  }}
                  <div class="invalid-feedback"></div>
              </div>
              <div class="form-group col-xs-1 required" style="width: 25%;">
                  {{ form.state.label }}
                  {{ form.state(class="form-control restrictedText", placeholder=form.state.label.text, title=form.state.label.text)  }}
                  <div class="invalid-feedback"></div>
              </div>
               <div class="form-group col-xs-1 required" style="width: 25%;">
                  {{ form.zipcode.label }}
                  {{ form.zipcode(class="form-control restrictedText", placeholder=form.zipcode.label.text, title=form.zipcode.label.text)  }}
                  <div class="invalid-feedback"></div>
                </div>
          </div>
          <div class="form-row">
                <div class="form-group col-md-20 required">
                  {{ form.tele.label }}
                  {{ form.tele(class="form-control restrictedText", placeholder=form.tele.label.text, title=form.tele.label.text)  }}
                  <div class="invalid-feedback"></div>
                </div>

          </div>
           {{ form.submit(class="btn btn-success")  }}
      </form>
  </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
$(document).ready(function() {
    $('#state').select2({
        theme: 'classic'
    });
$('#tele')

.keydown(function (e) {
    var key = e.which || e.charCode || e.keyCode || 0;
    $phone = $(this);

    // Don't let them remove the starting '('
    if ($phone.val().length === 1 && (key === 8 || key === 46)) {
        $phone.val('(');
        return false;
    }
    // Reset if they highlight and type over first char.
    else if ($phone.val().charAt(0) !== '(') {
        $phone.val('('+$phone.val());
    }

    // Auto-format- do not expose the mask as the user begins to type
    if (key !== 8 && key !== 9) {
        if ($phone.val().length === 4) {
            $phone.val($phone.val() + ')');
        }
        if ($phone.val().length === 5) {
            $phone.val($phone.val() + ' ');
        }
        if ($phone.val().length === 9) {
            $phone.val($phone.val() + '-');
        }
    }

    // Allow numeric (and tab, backspace, delete) keys only
    return (key == 8 ||
            key == 9 ||
            key == 46 ||
            (key >= 48 && key <= 57) ||
            (key >= 96 && key <= 105));
})

.bind('focus click', function () {
    $phone = $(this);

    if ($phone.val().length === 0) {
        $phone.val('(');
    }
    else {
        var val = $phone.val();
        $phone.val('').val(val); // Ensure cursor remains at the end
    }
})

.blur(function () {
    $phone = $(this);

    if ($phone.val() === '(') {
        $phone.val('');
    }
});
});
</script>
{% endblock %}