{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
    #container{width:100%;}
    .main-page h1,
    .main-page h2,
    .main-page h4,
    .main-page h5 {
        font-size: 12px;
        margin-bottom: 0;
        font-family: Arial;
    }
    .font-10 {
        font-size: 10px;
    }
    .font-12 {
        font-size: 12px;
    }
    .main-page small,
    .main-page label,
    .main-page p {
        font-size: 10px;
        line-height: 14px;
    }
    .main-page .form-group {
        margin-bottom: 5px;
    }
    .main-page .form-group label {
        margin: 0;
        white-space: nowrap;
    }
    .main-page {
        margin: 0 auto;
        max-width: 700px;
        font-family: Arial;
    }
    .main-page hr {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .main-page .form-control {
        height: 25px;
        font-size: 10px;
    }
    .main-page form .required label:after {
        margin-left: 2px;
    }
    .main-page .btn {
        height: 25px;
        font-size: 10px;
        padding: 5px 10px;
    }
    .alert {
        font-size: 12px;
    }
    .alert ul {
        padding: 0;
        list-style: none;
    }
    .red-text {
        color: red;
    }
</style>
    <div class="main-page">
        <h2><strong>User Registration Continued</strong></h2>
        <hr/>
        <p>Please fill out the information below to complete your registration.</p>
        <div id="container">
          <div id="center">
              <h1 class='col-custom'><strong>Registration Part II</strong></h1>
              <hr/>
              <form method="POST" action="{{url_for('home.registration_continued')}}" width="100%" name="register_cont", id="register_cont">
                 {{ form.hidden_tag() }}
                  {{ wtf.form_errors(form) }}
                  <div class="row">
                      <div class="col-md-6">
                          <div class="row form-group required">
                              <div class="col-md-4">
                                  {{ form.org.label }}
                              </div>
                              <div class="col-md-8">
                                  {{ form.org(class="form-control restrictedText", size="50", placeholder=form.org.label.text, title=form.org.label.text) }}
                              </div>
                              <div class="invalid-feedback"></div>
                          </div>
                          <div class="row form-group required">
                              <div class="col-md-4">
                                  {{ form.school.label }}
                              </div>
                              <div class="col-md-8">
                                  {{ form.school(class="form-control restrictedText", size="50", placeholder=form.school.label.text, title=form.school.label.text) }}
                              </div>
                              <div class="invalid-feedback"></div>
                          </div>
                          <div class="row form-group required">
                              <div class="col-md-4">{{ form.position.label }}</div>
                              <div class="col-md-8">{{ form.position(class="form-control restrictedText", size="50", placeholder=form.position.label.text, title=form.position.label.text) }}</div>
                              <div class="invalid-feedback"></div>
                          </div>
                          <div class="row form-group required">
                              <div class="col-md-4">{{ form.adder1.label }}</div>
                              <div class="col-md-8">{{ form.adder1(class="form-control restrictedText", placeholder=form.adder1.label.text, title=form.adder1.label.text) }}</div>
                              <div class="invalid-feedback"></div>
                          </div>
                          <div class="row form-group">
                              <div class="col-md-4">{{ form.adder2.label }}</div>
                              <div class="col-md-8">{{ form.adder2(class="form-control restrictedText", placeholder=form.adder2.label.text, title=form.adder2.label.text) }}</div>
                              <div class="invalid-feedback"></div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="row form-group required">
                              <div class="col-md-4">{{ form.city.label }}</div>
                              <div class="col-md-8">{{ form.city(class="form-control restrictedText", placeholder=form.city.label.text, title=form.city.label.text) }}</div>
                              <div class="invalid-feedback"></div>
                          </div>
                          <div class="row form-group required">
                              <div class="col-md-4">{{ form.state.label }}</div>
                              <div class="col-md-8">{{ form.state(class="form-control restrictedText", placeholder=form.state.label.text, title=form.state.label.text) }}</div>
                              <div class="invalid-feedback"></div>
                          </div>
                          <div class="row form-group required">
                              <div class="col-md-4">{{ form.zipcode.label }}</div>
                              <div class="col-md-8">{{ form.zipcode(class="form-control restrictedText", placeholder=form.zipcode.label.text, title=form.zipcode.label.text) }}</div>
                              <div class="invalid-feedback"></div>
                          </div>
                          <div class="row form-group required">
                              <div class="col-md-4">{{ form.tele.label }}</div>
                              <div class="col-md-8">{{ form.tele(class="form-control restrictedText", placeholder=form.tele.label.text, title=form.tele.label.text) }}</div>
                              <div class="invalid-feedback"></div>
                          </div>
                      </div>
                  </div>
                  <div class="text-right">
                      {{ form.submit(class="btn btn-secondary")  }}
                  </div>
              </form>
          </div>
        </div>
    </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
$(document).ready(function() {
    $('#state').select2({
        theme: 'classic'
    });
$('#tele')

.keydown(function (e) {
    var key = e.which || e.charCode || e.keyCode || 0;
    $phone = $(this);

    // Don't let them remove the starting '('
    if ($phone.val().length === 1 && (key === 8 || key === 46)) {
        $phone.val('(');
        return false;
    }
    // Reset if they highlight and type over first char.
    else if ($phone.val().charAt(0) !== '(') {
        $phone.val('('+$phone.val());
    }

    // Auto-format- do not expose the mask as the user begins to type
    if (key !== 8 && key !== 9) {
        if ($phone.val().length === 4) {
            $phone.val($phone.val() + ')');
        }
        if ($phone.val().length === 5) {
            $phone.val($phone.val() + ' ');
        }
        if ($phone.val().length === 9) {
            $phone.val($phone.val() + '-');
        }
    }

    // Allow numeric (and tab, backspace, delete) keys only
    return (key == 8 ||
            key == 9 ||
            key == 46 ||
            (key >= 48 && key <= 57) ||
            (key >= 96 && key <= 105));
})

.bind('focus click', function () {
    $phone = $(this);

    if ($phone.val().length === 0) {
        $phone.val('(');
    }
    else {
        var val = $phone.val();
        $phone.val('').val(val); // Ensure cursor remains at the end
    }
})

.blur(function () {
    $phone = $(this);

    if ($phone.val() === '(') {
        $phone.val('');
    }
});
});
</script>
{% endblock %}