<!-- Main top section of the content. -->
<div class="row align-items-center wow fadeInUp" data-wow-duration="2s">
    <div class="col-md-12 text-center">
        <div class="bg-transparent mt-2 mb-n3 mt-sm-n1 mt-lg-n4 mb-lg-2">
            <h2 class="text-highlight">STATE STANDARDS</h2>
        </div>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-12">
        <div class="list-content text-left">
            <p>In 2018, Dr. O’Donnell Weber conducted a systematic analysis of U.S. state education standards to determine whether or not there was any mention of parenting, child development, or any topics related to parenting and child development. Through this process, we learned that, in fact, more than half the states do have at least one academic or vocational standard that touches upon parenting and/or child development. However, very few of these standards require students to learn about how they can foster the cognitive, social, or emotional development of young children. Instead, many of the standards focus on pregnancy, childbirth, and “the responsibilities of parenthood.” Anecdotal evidence suggests that even with standards about parenting and child development in place, many schools are failing to provide students with the opportunity to meet those standards (O'Donnell and Rowe, 2019).</p>
            <a href="{{ url_for('home.questionnaire') }}" class="btn btn-site mt-4">More Results</a>
            <a class="btn  btn-site btn-download mt-4 mr-4" href="{{ url_for('static', filename='downloads/StateStandards.xlsx') }}" title="Download State Standards">
                <i class="fas fa-file-excel fa-md"></i> <span class="fa-md">Download State Standards</span></a> 
        </div>
    </div>
</div>
<hr class="space">
<div class="row align-items-center wow fadeInRight" data-wow-duration="2s">
    <div class="col-md-12 text-center">
        <h4 class="text-highlight-md">State Standards</h4>            
        <img src="{{ url_for('static', filename='images/SFF_state_standards.jpg') }}" class="img-fluid" alt="" style="width:85%;"/>
    </div>
</div>