<!-- Main top section of the content. -->
<div class="row align-items-center wow fadeInUp" data-wow-duration="2s">
    <div class="col-md-8 offset-md-2">
        <div class="bg-transparent mt-3 mt-sm-1 mt-lg-n4">
            <h2 class="text-highlight">Thank You for your submission</h2>
        </div>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-1"></div>
    <div class="col-md-10">
        <div class="list-content text-left">
            <p>We will review your submission and get back to you as soon as possible.</p>
        </div>
    </div>
    <div class="col-1"></div>
</div>
