<!-- Main top section of the content. -->
<div class="row align-items-center p-3 wow fadeInUp" data-wow-duration="2s">
    <div class="col-2 blank-space"> </div>
    <div id="thankyou-bkgnd" class="col-md-8 text-center pb-3">
        <div class="bg-transparent mt-3 mt-sm-3 mt-md-3">
            <h2 class="text-highlight px-3 pt-4 pb-2">THANK YOU</h2>
            <p class="font-italic px-3 pt-3 pb-1">It has been more than six years since the first words of the White Paper and thanks to you each step has been beyond what we hoped was possible! Now the website is published and more is on the way. This has not been any individual’s success but a journey of many for many. So let us enjoy a big cheer and dedicate ourselves anew to pursue this journey, since much remains and young children's futures everywhere depend on the success of this work.</p>
            <p class="font-italic px-3 pt-2 pb-4">Thank you all for your myriad selfless contributions without guarantees but with huge possibilities for what may be.</p>
            <ul id="line-height-thankyou" class="details-cont mt-3 pl-2" style="list-style-type:none;">
              <li><h3 id="font-thankyou-bold" class="font-family-serif text-left align-top d-inline-block w-30 mt-1 ">Steven Barnett</h3>
                <span class="d-inline-block w-60 text-left pl-1 ">For your willingness to take on a project that must have seemed unlikely at the least.</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-thankyou-bold" class="font-family-serif text-left align-top d-inline-block w-30 pr-3 mt-1">Catherine Bradshaw</h3>
                <span class="d-inline-block w-60 text-left pl-1">For your excellent suggestion that we adopt a more regular method of grantmaking and for this website which was a direct result.</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-thankyou-bold" class="font-family-serif text-left align-top d-inline-block w-30 pr-3 mt-1">Richard De Lisi</h3>
                <span class="d-inline-block w-60 text-left pl-1">For planting the seed and providing the words that started the journey down this most exciting and extraordinary path.</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-thankyou-bold" class="font-family-serif text-left align-top d-inline-block w-30 pr-3 mt-1">DreamHost.com</h3>
                <span class="d-inline-block w-60 text-left pl-1">For graciously providing a home for our website and solutions for so many technical questions.</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-thankyou-bold" class="font-family-serif text-left align-top d-inline-block w-30 pr-3 mt-1">John Franklin</h3>
                <span class="d-inline-block w-60 text-left pl-1">For your wisdom helping us discern what’s really important, for your dedication to a lifetime of helping others, and for sharing your vision of saving the babies.</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-thankyou-bold" class="font-family-serif text-left align-top d-inline-block w-30 pr-3 mt-1">Ellen Galinsky</h3>
                <span class="d-inline-block w-60 text-left pl-1">For listening, for your excellent thoughts and for your enthusiastic encouragement.</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-thankyou-bold" class="font-family-serif text-left align-top d-inline-block w-30 pr-3 mt-1">Kiran Gaudioso</h3>
                <span class="d-inline-block w-60 text-left pl-1">For leading an organization that does so much furthering ECE and for finding ways within your company’s full agenda to continue to support SFF.</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-thankyou-bold" class="font-family-serif text-left align-top d-inline-block w-30 pr-3 mt-1">Cynthia Rice</h3>
                <span class="d-inline-block w-60 text-left pl-1">When there was no time to share, for sharing your time anyway, for listening, and for your important suggestions at a crucial early time.
 </span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-thankyou-bold" class="font-family-serif text-left align-top d-inline-block w-30 pr-3 mt-1">Michelle Roers</h3>
                <span class="d-inline-block w-60 text-left pl-1">For your interest in this work, for sticking with this project, and for providing constant and enthusiastic encouragement over many years. Please know your excellent leadership has been critical for the success of this effort!</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-thankyou-bold" class="font-family-serif text-left align-top d-inline-block w-30 pr-3 mt-1">Valerie Werstler</h3>
                <span class="d-inline-block w-60 text-left pl-1">For listening attentively when so much else was calling, for helping wherever you could, and for opening doors that might forever have remaind closed.</span></li>
              <div class="blank-space"> </div>

              <li><p id="font-thankyou-bold" class="font-family-serif text-left align-top w-84 pr-3 mt-2">And a very special thank you to:</p></li>

              <div class="blank-space"> </div>
  
              <li><h3 id="font-thankyou-bold" class="font-family-serif text-left align-top d-inline-block w-30 pr-3 mt-1">Kathy Kwasnik</h3>
                <span class="d-inline-block w-60 text-left pl-1">For always having faith this could and would make a difference. For supporting and contributing to this project from the very first ideas through so many challenges to the doorstep of an exciting tomorrow. For years of continuous advice, guidance, candor, wise perceptions and enthusiastic encouragement. For so much more you have meant to this project which these words cannot express. And, perhaps most of all, for keeping us always focused on young children’s success in school and in life.</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-thankyou-bold" class="font-family-serif text-left align-top d-inline-block w-30 pr-3 mt-1">Nell O’Donnell Weber</h3>
                <span class="d-inline-block w-60 text-left pl-1">For fascinating, direct, and exceedingly thoughtful discussions that have been so helpful in learning about the world of ECE. For so many late nights spent writing accessible, meaningful and eminently logical content and for your extensive knowledge and superior writing all of which have immensely improved this website. For perseverance above and beyond the call of duty and for your quality research. Our understanding of the efficacy of teaching high school parenting is well advanced for your many contributions.</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-thankyou-bold" class="font-family-serif text-left align-top d-inline-block w-30 pr-3 mt-1">Meredith Rowe</h3>
                <span class="d-inline-block w-60 text-left pl-1">For taking a chance on an unusual request. For tireless dedication and determination over many years, so essential in the success of this work. For sharing and applying your wisdom, broad experience and great research expertise. And, for your leadership and great insight in advancing our understanding of the sources of adolescent knowledge of parenting and child development and opening the first doors in approaching the efficacy of teaching parenting at the secondary level.</span></li>
              <div class="blank-space"> </div>
              <li><h3 id="font-thankyou-bold" class="font-family-serif text-left align-top d-inline-block w-30 pr-3 mt-1">Maria Meyer</h3>
                <span class="d-inline-block w-60 text-left pl-1">For loving and unwavering support every step of the way. Without you none of this would have been possible.</span></li>
              <div class="blank-space"> </div>

              <li><p id="font-thankyou-bold" class="font-family-serif text-left align-top w-84 pr-3 mt-2" style="font-size:16px;font-weight:300;">As for errors and omissions – these are all mine – Bruce Meyer</p></li>
            </ul>
        </div>
    </div>
    <div class="col-2 blank-space"> </div>
</div>
