<!-- Main top section of the content. -->
<div class="row align-items-center wow fadeInUp" data-wow-duration="2s">
    <div class="col-md-12 text-center">
        <div class="bg-transparent mt-3 mt-sm-1 mt-lg-n4">
            <h2 class="text-highlight">THE CHALLENGE</h2>
        </div>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6 text-center">
        <div class="list-content text-left">
            <h2 class="sub-heading">The achievement gap begins at birth</h2>
            <p>Children born into low-income households are disadvantaged from birth. By the time we are able to measure differences in skills and knowledge, gaps in abilities are already well established. For example, from when they are born, some children hear exponentially more words from their parents and caregivers than other children, and this has enormous effects on their language development, literacy development, and later success in school.</p>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/DisparitiesinEarlyVocabularyGrowth-thechallenge1.jpg') }}" class="img-fluid" alt=""/>
    </div>
</div>
<hr class="space">
<div class="row align-items-center wow fadeInRight" data-wow-duration="2s">
    <div class="col-md-6">
        <div class="list-content">
            <h2 class="sub-heading">Most adults do not have general knowledge of child development</h2>
            <p>A recent study from Zero to Three and the Robert Wood Johnson Foundation attempted to understand what a national sample of American adults knows about child development, revealing that more than half of the sample of U.S. voters reported that they know little or nothing about child development, while at the same time nine out of ten believe that knowledge of the topic is important.</p>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/mom_dad_infant.jpg') }}" class="img-fluid" alt="" style="width:100%;"/>
    </div>
</div>
<hr class="space">
<div class="row row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6 text-center">
        <img src="{{ url_for('static', filename='images/dad_baby_love.jpg') }}" class="img-fluid" alt=""/>
    </div>
    <div class="col-md-6">
        <div class="list-content text-left">
            <h2 class="sub-heading">Parenting knowledge is not typically available in any formal way to U.S. citizens</h2>
            <p>{{ thechallenge_itemtxt6 }}</p>
            <a href="There is currently no formal way to prepare people for parenthood. Motivated parents may sign up for childbirth and baby care classes when they are expecting, and negligent parents may be referred to parenting classes by child services. The intervention programs that target parenting knowledge and practices in low-income families — an approach that has been successful, yet costly — only reaches a subset of parents. Instead, the vast majority of parents are simply expected “just to know” what to do to nurture their children." class="btn btn-site">The Opportunity</a>
        </div>
    </div>
</div>
