<!-- Main top section of the content. -->
<div class="row align-items-center wow fadeInUp" data-wow-duration="2s">
    <div class="col-md-12 text-center">
        <div class="bg-transparent">
            <h2 class="text-highlight mt-4 mb-sm-4 my-md-2 mt-lg-n2">WHAT TO EXPECT</h2>
        </div>
    </div>
</div>
<hr class="space">
{% include "layouts/message.html" %}
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-12">
        <div class="list-content text-left">
            <p>Please remember your application is not complete until the My Idea input form has been entered and all required documents have been submitted.</p>
            <p>You should receive confirmation of receipt of your Idea by email within about one week of completing all submission requirements.</p>
            <p>Please know your Idea is important to us. It will be thoroughly reviewed and carefully considered.</p>
            <p>Applicants typically receive a response to their Idea in five to eight weeks from submission completion. If successful you will be given further details for completing the application process then.</p>
            <p class="p10line-space"> </p>
            <p class="text-highlight font-italic f19 mb-5 mt-sm-2 mt-lg-3">Thank you for sharing your idea with us.</p>
        </div>
    </div>
</div>
