<!-- Main top section of the content. -->
<div class="row align-items-center wow fadeInUp" data-wow-duration="2s">
    <div class="col-md-12">
        <div class="bg-transparent mt-n1 mb-3 mt-sm-n1 mb-sm-4 mb-md-5 mt-lg-n4 mb-lg-5">
            <h2 class="text-highlight">WHY ARE THE EARLY YEARS IMPORTANT?</h2>
        </div>
    </div>
</div>
<div class="p6line-space"> </div>
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6">
        <div class="list-content text-left">
            <p>“Healthy development in the early years (particularly birth to three) provides the building blocks for educational achievement, economic productivity, responsible citizenship, lifelong health, strong communities, and successful parenting of the next generation (National Scientific Council on the Developing Child, 2020).”</p>
        </div>
    </div>
    <div class="col-md-6 pl-md-4 text-center">
        <img src="{{ url_for('static', filename='images/mother_lovingly_caring_for_baby.jpg') }}" class="img-fluid" alt=""/>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6 pl-md-4 text-center">
        <img src="{{ url_for('static', filename='images/daughter_father_garden.jpg') }}" class="img-fluid" alt=""/>
    </div>
    <div class="col-md-6">
        <div class="list-content text-left">
            <h2 class="sub-heading">Gaps are large on entering kindergarten</h2>
            <p>Income-based achievement gaps in basic skills such as math and reading are already large when children enter kindergarten (Reardon, 2013; von Hippel & Hamrock, 2016) so it is reasonable that focusing on young children's learning in the early years when the gaps grow may lead to ways of preventing them (O'Donnell Weber, 2019).</p>
        </div>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-md-6 pl-md-4 text-center">
        <img src="{{ url_for('static', filename='images/scientists_sharing_ideas.jpg') }}" class="img-fluid" alt=""/>
    </div>
    <div class="col-md-6">
        <div class="list-content text-left">
            <h2 class="sub-heading">Science is accumulating for the early years
</h2>
            <p>Researchers from numerous scientific disciplines are accumulating results from different directions on the importance of the early years. Neuroscience research on brain plasticity, investigations of the prenatal period by biologists and health scientists, psychologists' and sociologists' longitudinal studies and much more all point in the same direction: the importance of the early years.</p>
            <a href="{{ url_for('home.scienceaccumulating') }}" class="btn btn-site">Learn More</a>
        </div>
    </div>
</div>
<hr class="space">
<div class="row flex-column-reverse flex-md-row align-items-center wow fadeInLeft" data-wow-duration="2s">
    <div class="col-1"></div>
    <div class="col-md-10">
        <div class="list-content text-left">
            <h2 class="sub-heading">Economics of Early Learning
</h2>
            <p>James Heckman, Director of the Center for the Economics of Human Development and 2000 Nobel prize winner in economics, has spoken often about the economics of early learning. Here is a brief summary of what he said June 29, 2009 at the Chautauqua gathering:</p>
            <p>What we’ve learned is that if society intervenes early enough, it can raise cognitive and social emotional abilities. The rates of return on these investments, if we put it in a purely economic setting, range between 7 and 10 percent compared with a corresponding return on equity investments of less than 6 percent. So, the rate of return on investment is very high. It competes with any social program and is much better than infrastructure, much better than building bridges and much better than fixing potholes. In short, fixing people and creating a base for future productivity and motivation for the society has a very high economic and social return.</p>
            <a href="{{ url_for('home.parenting') }}" class="btn btn-site">Parenting</a>
        </div>
    </div>
    <div class="col-1"></div>
</div>
